body, main{
    display: flex;
}
body{
    flex-direction: column;
}
main{
    flex-direction: row;
    flex: auto;
}
article{
    flex: 2;
    overflow-y: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(150, 149, 147);
    border: 1px solid #000000;
}
aside{
    flex: 1;
    overflow-y: auto;
    background-color: rgb(39, 39, 40);
    border: 1px solid #738090;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}